/* Scroll suave */
html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #263686;
}
